html {
    padding: 0;
    margin; 0;
}
body {
    position: absolute;
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: fixed;
    background: url('../img/8dgutxw.png') repeat;
    border: 0;
    margin: 0;
}
ul#menu {
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 15;
}
ul#menu li {
    margin: 10px;
}
ul#menu li button {
    border: 1px;
    border-radius: 3px;
    background-color: #333;
    color: #ddd;
    display: inline-block;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
    width: 2em;
    font-weight: bold;
}
ul#menu li button#add-protagonist {
    background-color: green;
}
.friend {
    width: 80px;
    padding: 4px;
    border-radius: 10px;
    border: 2px solid black;
    position: absolute;
    text-align: center;
    font-size: 11px;
    font-family: Georgia;
    z-index: 10;
    background-color: white;
    font-weight: bold;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}
.friend:hover {
    z-index: 200;
    border-width: 4px;
}
.friend.followed img,
.friend.follows img,
.friend.highlight img {
    background-color: white;
}
.friend.followed.follows {
    background-color: purple !important;
    box-shadow: 0 0 70px purple;
}
.friend.followed {
    background-color: blue;
    z-index: 50;
    box-shadow: 0 0 70px blue;
    color: white;
}
.friend.follows {
    background-color: green;
    z-index: 50;
    box-shadow: 0 0 70px green;
}
body .friend.highlight,
body .friend.highlight.follows,
body .friend.highlight.followed,
body .friend.highlight.follows.followed {
    background-color: black !important;
    z-index: 100;
    box-shadow: 0 0 70px black;
    color: white;
}
button {
    cursor: pointer;
}
.friend img {
    height: 48px;
    width: 48px;
    opacity: 0.5;
}
#canvas {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 15;
}
