html {
    padding: 0;
    margin; 0;
}
body {
    position: absolute;
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: fixed;
    background: url('../img/8dgutxw.png') repeat;
    border: 0;
    margin: 0;
}
ul#menu {
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 15;
}
ul#menu li {
    margin: 10px;
}
ul#menu li button {
    border: 1px;
    border-radius: 3px;
    background-color: #333;
    color: #ddd;
    display: inline-block;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
    width: 2em;
    font-weight: bold;
}
ul#menu li button#add-protagonist {
    background-color: green;
}
.friend {
    width: 80px;
    padding: 4px;
    border-radius: 10px;
    border: 2px solid black;
    position: absolute;
    text-align: center;
    font-size: 11px;
    font-family: Georgia;
    z-index: 10;
    background-color: white;
    font-weight: bold;
}
.friend.followed.follows {
    background-color: purple !important;

}
.friend.followed {
    background-color: blue;
    z-index: 50;
}
.friend.follows {
    background-color: green;
    z-index: 50;
}
.friend.highlight {
    background-color: black;
    z-index: 100;
    box-shadow: 0 0 70px black;
}
.friend img {
    height: 48px;
    width: 48px;
    opacity: 0.5;
}
#playfield {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 12;
}
#canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11;
}
