div,
body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html {
    padding: 0;
    margin; 0;
}
body {
    position: absolute;
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: fixed;
    background: url('../img/8dgutxw.png') repeat;
    border: 0;
    margin: 0;
}
ul#menu {
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 5000;
}
ul#menu li {
    margin: 10px;
}
#menu .download_status {
    display: inline-block;
}
#menu .download_status span {
    margin: 0 10px;
    background-color: white;
    border-radius: 4px;
    padding: 4px;
    border: 1px solid black;
}
#menu .download_status button.cancel {
    background-color: red;
}
#menu .download_status span.failed {
    color: red;
}
#menu .download_status span.success {
    color: green;
}
#menu .download_status span.queue {
    padding-left: 30px;
    background-image: url(../img/loading_small.gif);
    background-repeat: no-repeat;
    background-position: 2px 1px;
    color: black;
}

#menu .chaosmeter {
    display: inline-block;
    background-color: red;
    position: relative;
    height: 1em;
    width: 2em;
}
#menu button {
    border: 1px;
    border-radius: 3px;
    background-color: #333;
    color: #ddd;
    display: inline-block;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
    min-width: 2em;
    font-weight: bold;
}
ul#menu li button#add-protagonist {
    background-color: green;
}
.friend {
    width: 80px;
    margin-left: -40px;
    margin-top: -35px;
    padding: 4px;
    border-radius: 10px;
    border: 2px solid black;
    position: absolute;
    text-align: center;
    font-size: 11px;
    font-family: Georgia;
    z-index: 10;
    background-color: white;
    font-weight: bold;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    overflow: hidden;
}
html body .friend.searching {
    z-index: 600 !important;
    border-color: red;
    opacity: 1 !important;
    box-shadow: 0 0 70px red;
    border-width: 4px;
    margin-left: -42px;
    margin-top: -37px;
    background-color: red;
}
html body .friend.pinned {
    opacity: 1 !important;
    border-width: 2px 10px;
    box-shadow: 0 0 70px black !important;
}
.friend.protected {
    background-image: url(lock.png);
    background-position: 72px 5px;
    background-repeat: no-repeat;
}
.friend:hover img {
    opacity: 1;
}
.friend:hover {
    opacity: 1 !important;
    background-color: green;
    z-index: 200 !important;
    border-width: 4px;
    margin-left: -42px;
    margin-top: -37px;
}
.friend.followed.follows {
    opacity: 1 !important;
    background-color: green;
    background-color: purple !important;
    box-shadow: 0 0 70px purple;
}
.friend.followed {
    background-color: blue;
    z-index: 50;
    box-shadow: 0 0 70px blue;
    color: white;
}
.friend.follows {
    background-color: green;
    z-index: 50;
    box-shadow: 0 0 70px green;
}
body .friend.highlight img {
    opacity: 1;
}
body .friend.highlight,
body .friend.highlight.follows.followed {
    background-color: black !important;
    opacity: 1 !important;
    z-index: 100;
    box-shadow: 0 0 70px black;
    color: white;
    border: 4px solid white;
    margin-left: -42px;
    margin-top: -37px;
}
#menu button.active {
    background-color: red;
}
#menu button {
    cursor: pointer;
}
.friend img {
    height: 48px;
    width: 48px;
}
.friend.fade1{
    opacity: 0.1;
}
.friend.fade2{
    opacity: 0.2;
}
.friend.fade3{
    opacity: 0.3;
}
.friend.fade4{
    opacity: 0.4;
}
.friend.fade5{
    opacity: 0.5;
}
.friend.fade6{
    opacity: 0.6;
}
.friend.fade7{
    opacity: 0.7;
}
.friend.fade8{
    opacity: 0.8;
}
.friend.fade9{
    opacity: 0.9;
}
.friend.fade10{
    opacity: 1;
}
#canvas {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
#spyglass_overlay {
    z-index: 400;
    position: absolute;
    width: 100%;
    height: 100%;
}
#spyglass_glow {
    position: absolute;
    border-radius: 50px;
    height: 100px;
    width: 100px;
    margin-left: -50px;
    margin-top: -50px;
    top: 0;
    left: 0;
    box-shadow: 0 0 150px red;
    background-color: red;
}
#words_wrapper {
    position: absolute;
    top: -50px;
    left: -280px;
}
#who_to_follow_wrapper {
    position: absolute;
    top: -50px;
    left: 130px;
}
#spyglass_glow ul {
    list-style-type: none;
    width: 150px;
}
#spyglass_glow li {
    background-color: white;
    border: 1px solid black;
    border-radius: 3px;
    margin: 4px;
    padding: 4px;
    text-align: center;
    font-weight: bold;
}
#menu button:hover {
    background-color: #999;
}
#menu button:active {
    background-color: white;
}
button {
    transition: background-color 0.5s;
}
#box {
    position: absolute;
    border: 1px solid #888;
}
input.person-finder:focus {
    outline: none;
}
input.person-finder {
    border: none;
    border-radius: 10px;
    background-color: white;
    padding: 4px;
    font-size: 1em;
    margin-left: 0.5em;
}
input.protagonist_adder:focus {
    outline: none;
}
input.protagonist_adder {
    border: none;
    border-radius: 10px;
    background-color: white;
    padding: 4px;
    font-size: 1em;
    margin-left: 0.5em;
}
